*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #023F68;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold Helvetica;
    font-size: 40px;
    margin-top: 20px;
}

.card{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border: none;
    font: 20px bold;
}

.card .card-header, .card-footer{
    background: #000;
    color: #fff;
    font-family: Roboto;
}

form{
    width: 100%;
}

input{
    margin-bottom: 15px;
}

@media(min-width: 200px){

    .header{
        font-size: 10px;
    }
    .card-header, .card-footer{
        font-size: 13px;
    }
}

@media(min-width: 245px){

    .header{
        font-size: 12px;
    }
    .card-header, .card-footer{
        font-size: 15px;
    }
}

@media(min-width: 270px){

    .header{
        font-size: 13px;
    }
    .card-header, .card-footer{
        font-size: 16px;
    }
}

@media(min-width: 339px){

    .header{
        font-size: 16px;
    }
    .card-header, .card-footer{
        font-size: 19px;
    }
}

@media(min-width: 480px){

    .header{
        font-size: 20px;
    }
    .card-header, .card-footer{
        font-size: 23px;
    }
}

@media(min-width: 768px){

    .header{
        font-size: 40px;
    }
    .card-header, .card-footer{
        font-size: 20px;
    }

}